In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('moviereviews.tsv',sep='\t')

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [4]:
df.dropna(inplace=True)

In [5]:
blanks=[]
for i,label,review in df.itertuples():
    if type(review) == str:
        if review.isspace():
            blanks.append(i)
print(blanks)

[57, 71, 147, 151, 283, 307, 313, 323, 343, 351, 427, 501, 633, 675, 815, 851, 977, 1079, 1299, 1455, 1493, 1525, 1531, 1763, 1851, 1905, 1993]

In [6]:
df.drop(blanks,inplace=True)

In [7]:
df['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

In [8]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

C:\Software\Anaconda\envs\nlp_course\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [9]:
sid=SentimentIntensityAnalyzer()
df['score']=df['review'].apply(lambda review : sid.polarity_scores(review))

In [11]:
df['compound']=df['score'].apply(lambda d:d['compound'])

In [12]:
df['compound_score']=df['compound'].apply(lambda score: 'pos' if score>=0 else 'neg')

In [13]:
df.head()

,label,review,score,compound,compound_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg

In [14]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [15]:
accuracy_score(df['label'],df['compound_score'])

0.6367389060887513